<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:ignore="DiscouragedApi,Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResultsActivity"
            android:label="运算结果"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".CapitalMoneyActivity"
            android:label="大写数字"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,Instantiatable" />
        <activity
            android:name=".BigDecimalActivity"
            android:label="大数运算"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,Instantiatable" />
        <activity
            android:name=".BaseConversionActivity"
            android:label="进制转换"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,Instantiatable" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,Instantiatable" />
    </application>

</manifest>